@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: bottom;
}

body {
  font-family: 'Vesper Libre', serif;
}

header {
  width: 100%;
  padding: 20px 0;
  letter-spacing: 4px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  display: flex;
  flex-direction: column;
  font-style: italic;
}

h1:hover {
  opacity: 0.8;
}

.header_list {
  display: flex;
  justify-content: space-between;
}

.header_list li {
  font-size: 22px;
  text-shadow: 3px 4px 7px #6e6e6e;
}

.p-1 {
  font-size: 25px;
  text-shadow: 3px 4px 7px #6e6e6e;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.5px rgb(65, 65, 65);
}

.p-2 {
  width: 100px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.5px rgb(65, 65, 65);
  text-shadow: 3px 4px 7px #6e6e6e;
}

.header_list li {
  list-style: none;
}

.header_list ul {
  display: flex;
  column-gap: 50px;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.5px rgb(65, 65, 65);
}

.header_list.nav.active {
  display: flex;
  align-items: center;
}

.header_list li {
  list-style: none;
}

.header_list ul {
  display: flex;
  column-gap: 50px;
  align-items: center;
}

/*main*/
main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.page_title {
  margin: 100px 0 50px;
  text-align: center;
}

.page_title p {
  font-size: 35px;
  font-weight: bold;
}

.page_wrap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.page_img {
  max-width: 600px;
  width: 100%;
}

.page_img img {
  width: 100%;
}

.page_wrap p {
  text-align: right;
}

.skill_wrap {
  display: flex;
  max-width: 1000px;
  width: 100%;
  justify-content: space-around;
  margin: 100px auto 0;
}

.skill h2 {
  font-size: 20px;
}

.skill {
  width: 300px;
}

th,
td {
  display: block;
}

th {
  text-align: left;
}

td {
  margin-left: 20px;
}

table a {
  color: #000;
  -webkit-text-stroke: 0;
}

.comment {
  width: 300px;
}

.comment h2 {
  font-size: 20px;
}

/*footer*/
footer {
  padding: 20px;
  margin-top: 50px;
}

footer p {
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-align: center;
}

@media screen and (max-width:768px) {

  main {
    max-width: 300px;
    width: 100%;
  }

  .header_list ul {
    display: none;
  }

  .skill_wrap {
    flex-wrap: wrap;
    row-gap: 50px;
  }

  /* バーガー*/
  .header_wrap {
    align-items: center;
    justify-content: space-around;
  }

  .header_h1 {
    width: 250px;
  }

  .active {
    background-color: rgb(185, 202, 255);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    z-index: 30;
    color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
  }

  .header__hamburger.hamburger.active {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    margin-top: 75px;
  }

  .active ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 30px;
  }

  .header__hamburger {
    width: 48px;
    height: 100%;
    right: 0;
  }

  .header__hamburger.active {
    margin-right: 45px;
  }

  .hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
  }

  .hamburger span {
    width: 100%;
    height: 3px;
    background-color: #000;
    position: relative;
    transition: ease .4s;
    display: block;
  }

  .hamburger span:nth-child(1) {
    top: 0;
  }

  .hamburger span:nth-child(2) {
    margin: 8px 0;
  }

  .hamburger span:nth-child(3) {
    top: 0;
  }

  .header_list.active {
    transform: translateX(0);
  }

  .hamburger.active span:nth-child(1) {
    top: 8px;
    transform: rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;

  }

  .hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 768px) {
  button {
    display: none;
  }
}