* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: bottom;
}

body {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.check_h1 {
  width: 100%;
  text-align: center;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  padding: 15px;
  color: #010079;
  text-shadow: 0 0 5px white;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.kakunin {
  color: #ffffff;
}

.content {
  /* background-color: #dbe5ff; */
  margin: 100px auto;
  width: 85%;
  padding: 30px;
}

.content_h2 {
  width: 760px;
  margin: 0 auto;
}
.content h2 {
  text-align: center;
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  margin-bottom: 20px;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.form_kakunin {
  width: 800px;
  margin: 50px auto 0;
}

.form_kakunin th {
  text-align: right;
  padding: 10px;
  font-size: 20px;
  width: 200px;
  vertical-align: top;
}

.form_kakunin td {
  padding: 10px;
}

.botan {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.back {
  margin-right: 30px;
  margin-top: 10px;
}

.back button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 67px;
  border-radius: 0.8em;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(149, 207, 255);
  border-radius: 0.8em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 2px solid;
  border-color: rgb(3, 3, 3);
}

input {
  margin-top: 10px;
  width: 300px;
  height: 67px;
  border-radius: 0.8em;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(149, 207, 255);
  color: rgb(0, 0, 0);
  border: 2px solid;
  border-color: rgb(3, 3, 3);
}

.tyui p {
  font-size: 20px;
  font-weight: bold;
  color: red;
  text-align: center;
}

